USE [inventory]
GO
/****** Object:  User [usrInventory]    Script Date: 13/10/2025 09:19:31 ******/
CREATE USER [usrInventory] FOR LOGIN [usrInventory] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usrInventory]
GO
/****** Object:  View [dbo].[products]    Script Date: 13/10/2025 09:19:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[products]
  AS 

  select id, sku = CodProduto, 
			name = DesResumida, 
			description = Descricao, 
			categoryId = CodCategoria, 
			costValue = VlrCusto, 
			isActive = 1, 
			createadAt = DatCadastro, 
			updatedAt = DatAlteracao,
			hasSerialControl = CAST( CASE WHEN
								(SELECT COUNT(1) FROM Locador..tbl_ProdutoSerial PS WHERE PS.CodProduto = P.CodProduto) > 0 THEN 1
								ELSE 0 END
								AS bit)
			--,qtySerial = (SELECT COUNT(1) FROM Locador..tbl_ProdutoSerial PS WHERE PS.CodProduto = P.CodProduto)
  from Locador..tbl_Produtos P
GO
/****** Object:  Table [dbo].[inventory_items]    Script Date: 13/10/2025 09:19:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inventoryId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[locationId] [int] NOT NULL,
	[expectedQuantity] [real] NULL,
	[finalQuantity] [real] NULL,
	[status] [nvarchar](50) NULL,
	[count1] [decimal](18, 2) NULL,
	[count2] [decimal](18, 2) NULL,
	[count3] [decimal](18, 2) NULL,
	[count4] [real] NULL,
	[count1By] [int] NULL,
	[count2By] [int] NULL,
	[count3By] [int] NULL,
	[count4By] [int] NULL,
	[count1At] [datetime] NULL,
	[count2At] [datetime] NULL,
	[count3At] [datetime] NULL,
	[count4At] [datetime2](7) NULL,
	[count4_found] [bit] NULL,
	[serialItemsFound] [int] NULL,
	[serialItemsMissing] [int] NULL,
	[hasSerialDiscrepancy] [bit] NULL,
	[serialItemsCount] [int] NULL,
	[difference] [real] NULL,
	[accuracy] [real] NULL,
	[createdAt] [datetime2](7) NULL,
	[updatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__inventor__3213E83F6143753A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[locations]    Script Date: 13/10/2025 09:19:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[locations]
  AS

  select id = CodLocalizacao, code = 'EST' + RIGHT('000' + CAST(CodLocalizacao AS varchar), 3), 
		name = DesLocalizacao, 
		description = Observacao, 
		isActive = 1, 
		sequence = Ordem,
		createdAt = GETDATE(), 
		updatedAt = GETDATE()
  from Locador..tbl_EstoqueLocalizacao a
GO
/****** Object:  View [dbo].[vw_inventory_reconciliation]    Script Date: 13/10/2025 09:19:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_inventory_reconciliation] AS
    SELECT 
        ii.inventoryId,
        ii.productId,
        ii.locationId,
        p.name as productName,
        p.sku,
        l.name as locationName,
        ii.expectedQuantity,
        ii.finalQuantity,
        ii.serialItemsCount,
        ii.serialItemsFound,
        ii.serialItemsMissing,
        CASE 
            WHEN p.hasSerialControl = 1 AND ii.finalQuantity != ii.serialItemsFound 
            THEN 1 ELSE 0 
        END as hasDiscrepancy
    FROM inventory_items ii
    JOIN products p ON ii.productId = p.id
    JOIN locations l ON ii.locationId = l.id
GO
/****** Object:  View [dbo].[categories]    Script Date: 13/10/2025 09:19:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[categories]
AS
select id = CodCategoria, idcompany, name = DesCategoria, description = DesCategoria, isActive = 1, createdAt = DatCadastro, updatedAt = DatAlteracao
from Locador..tbl_Categorias
GO
/****** Object:  View [dbo].[companies]    Script Date: 13/10/2025 09:19:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[companies]
AS
select id = CodEmpresa, name = NomEmpresa, description = RazaoSocial, createdAt = DatCadastro, updatedAt = DatAlteracao
from Locador..tbl_Empresa
GO
/****** Object:  View [dbo].[stock]    Script Date: 13/10/2025 09:19:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[stock]
  AS
  select id = 0, productId = B.id, locationId = CodLocalizacao, quantity = QtdEstoque, createdAt = B.DatCadastro, updatedAt = B.DatAlteracao
  from Locador..tbl_Estoque A
  RIGHT join Locador..tbl_Produtos B ON B.CodProduto = A.CodProduto
GO
/****** Object:  View [dbo].[stock_items]    Script Date: 13/10/2025 09:19:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE     VIEW [dbo].[stock_items]
AS

select	ES.id,
		productId = P.id, 
		locationId = ES.CodLocalizacao, 
		serialNumber = ES.NumSerie, 
		costValue = ISNULL(PS.VlrCusto, P.VlrCusto),
		isActive = PS.FlgAtivo, 
		createdAt = PS.DatCriacao, 
		updatedAt = DataMovimento
from Locador..tbl_EstoqueSerial ES
inner join Locador..tbl_Produtos P ON P.CodProduto = ES.CodProduto
left join Locador..tbl_ProdutoSerial PS ON PS.NumSerie = ES.NumSerie
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 13/10/2025 09:19:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[action] [nvarchar](255) NOT NULL,
	[entityType] [nvarchar](255) NOT NULL,
	[entityId] [nvarchar](255) NOT NULL,
	[oldValues] [nvarchar](max) NULL,
	[newValues] [nvarchar](max) NULL,
	[metadata] [nvarchar](max) NULL,
	[timestamp] [datetime2](7) NULL,
 CONSTRAINT [PK__audit_lo__3213E83FD977D757] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[counts]    Script Date: 13/10/2025 09:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[counts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inventoryItemId] [int] NOT NULL,
	[countNumber] [int] NOT NULL,
	[quantity] [real] NOT NULL,
	[countedBy] [int] NOT NULL,
	[countedAt] [datetime2](7) NULL,
	[notes] [nvarchar](1000) NULL,
 CONSTRAINT [PK__counts__3213E83F7D786541] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventories]    Script Date: 13/10/2025 09:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[typeId] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[startDate] [datetime2](7) NOT NULL,
	[endDate] [datetime2](7) NULL,
	[description] [nvarchar](1000) NULL,
	[selectedLocationIds] [nvarchar](max) NULL,
	[selectedCategoryIds] [nvarchar](max) NULL,
	[predictedEndDate] [datetime] NULL,
	[isFrozen] [bit] NULL,
	[frozenAt] [bigint] NULL,
	[frozenBy] [int] NULL,
	[createdBy] [int] NOT NULL,
	[createdAt] [datetime2](7) NULL,
	[updatedAt] [datetime2](7) NULL,
	[isToBlockSystem] [bit] NULL,
	[erpMigrated] [bit] NULL,
	[erpMigratedAt] [datetime] NULL,
	[erpMigratedBy] [int] NULL,
	[selectedProductIds] [nvarchar](max) NULL,
 CONSTRAINT [PK__inventor__3213E83F93DDFC7B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__inventor__357D4CF9DBA9D350] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_serial_discrepancies]    Script Date: 13/10/2025 09:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_serial_discrepancies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inventoryId] [int] NOT NULL,
	[serialNumber] [nvarchar](255) NOT NULL,
	[productId] [int] NOT NULL,
	[productSku] [nvarchar](100) NOT NULL,
	[productName] [nvarchar](255) NOT NULL,
	[expectedLocationId] [int] NULL,
	[expectedLocationCode] [nvarchar](50) NULL,
	[expectedLocationName] [nvarchar](255) NULL,
	[foundLocationId] [int] NULL,
	[foundLocationCode] [nvarchar](50) NULL,
	[foundLocationName] [nvarchar](255) NULL,
	[discrepancyType] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NULL,
	[foundBy] [nvarchar](255) NULL,
	[foundAt] [datetime2](7) NULL,
	[countStage] [nvarchar](10) NULL,
	[notes] [nvarchar](1000) NULL,
	[resolutionNotes] [nvarchar](1000) NULL,
	[resolvedBy] [nvarchar](255) NULL,
	[resolvedAt] [datetime2](7) NULL,
	[migratedToERP] [bit] NULL,
	[migratedAt] [datetime2](7) NULL,
	[migratedBy] [nvarchar](255) NULL,
	[erpResponse] [nvarchar](max) NULL,
	[createdAt] [datetime2](7) NULL,
	[updatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_serial_items]    Script Date: 13/10/2025 09:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_serial_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inventoryId] [int] NOT NULL,
	[stockItemId] [int] NOT NULL,
	[serialNumber] [nvarchar](255) NOT NULL,
	[productId] [int] NOT NULL,
	[locationId] [int] NOT NULL,
	[expectedStatus] [bit] NULL,
	[count1_found] [bit] NULL,
	[count2_found] [bit] NULL,
	[count3_found] [bit] NULL,
	[count4_found] [bit] NULL,
	[count1_by] [int] NULL,
	[count2_by] [int] NULL,
	[count3_by] [int] NULL,
	[count4_by] [int] NULL,
	[count1_at] [datetime2](7) NULL,
	[count2_at] [datetime2](7) NULL,
	[count3_at] [datetime2](7) NULL,
	[count4_at] [datetime2](7) NULL,
	[status] [nvarchar](50) NULL,
	[notes] [nvarchar](1000) NULL,
	[finalStatus] [bit] NULL,
	[createdAt] [datetime2](7) NULL,
	[updatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__inventor__3213E83F345AB8FF] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_stock_items_snapshot]    Script Date: 13/10/2025 09:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_stock_items_snapshot](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inventoryId] [int] NOT NULL,
	[stockItemId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[locationId] [int] NOT NULL,
	[serialNumber] [nvarchar](255) NULL,
	[assetTag] [nvarchar](255) NULL,
	[condition] [nvarchar](50) NULL,
	[costValue] [decimal](18, 2) NULL,
	[acquisitionDate] [bigint] NULL,
	[isActive] [bit] NULL,
	[createdAt] [bigint] NOT NULL,
	[updatedAt] [bigint] NOT NULL,
	[snapshotCreatedAt] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_stock_snapshot]    Script Date: 13/10/2025 09:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_stock_snapshot](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inventoryId] [int] NOT NULL,
	[stockId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[locationId] [int] NOT NULL,
	[quantity] [decimal](18, 2) NOT NULL,
	[minQuantity] [decimal](18, 2) NULL,
	[maxQuantity] [decimal](18, 2) NULL,
	[createdAt] [bigint] NOT NULL,
	[updatedAt] [bigint] NOT NULL,
	[snapshotCreatedAt] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_types]    Script Date: 13/10/2025 09:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 13/10/2025 09:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[sid] [nvarchar](256) NOT NULL,
	[sess] [nvarchar](4000) NOT NULL,
	[expire] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 13/10/2025 09:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[firstName] [nvarchar](255) NULL,
	[lastName] [nvarchar](255) NULL,
	[role] [nvarchar](50) NULL,
	[isActive] [bit] NULL,
	[createdAt] [datetime2](7) NULL,
	[updatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__users__3213E83F0B5CF842] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__users__AB6E616499D89B4D] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__users__F3DBC572BD6FFFE2] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_serial_discrepancies_inventory]    Script Date: 13/10/2025 09:19:32 ******/
CREATE NONCLUSTERED INDEX [IX_serial_discrepancies_inventory] ON [dbo].[inventory_serial_discrepancies]
(
	[inventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_serial_discrepancies_serial]    Script Date: 13/10/2025 09:19:32 ******/
CREATE NONCLUSTERED INDEX [IX_serial_discrepancies_serial] ON [dbo].[inventory_serial_discrepancies]
(
	[serialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_serial_discrepancies_type]    Script Date: 13/10/2025 09:19:32 ******/
CREATE NONCLUSTERED INDEX [IX_serial_discrepancies_type] ON [dbo].[inventory_serial_discrepancies]
(
	[discrepancyType] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_inventory_serial_items_inventory_product]    Script Date: 13/10/2025 09:19:32 ******/
CREATE NONCLUSTERED INDEX [IX_inventory_serial_items_inventory_product] ON [dbo].[inventory_serial_items]
(
	[inventoryId] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_inventory_serial_items_location]    Script Date: 13/10/2025 09:19:32 ******/
CREATE NONCLUSTERED INDEX [IX_inventory_serial_items_location] ON [dbo].[inventory_serial_items]
(
	[locationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_inventory_serial_items_serial_number]    Script Date: 13/10/2025 09:19:32 ******/
CREATE NONCLUSTERED INDEX [IX_inventory_serial_items_serial_number] ON [dbo].[inventory_serial_items]
(
	[serialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_inventory_serial_items_status]    Script Date: 13/10/2025 09:19:32 ******/
CREATE NONCLUSTERED INDEX [IX_inventory_serial_items_status] ON [dbo].[inventory_serial_items]
(
	[inventoryId] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_logs] ADD  CONSTRAINT [DF__audit_log__times__619B8048]  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[inventories] ADD  CONSTRAINT [DF__inventori__statu__52593CB8]  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[inventories] ADD  CONSTRAINT [DF__inventori__isFro__02FC7413]  DEFAULT ((0)) FOR [isFrozen]
GO
ALTER TABLE [dbo].[inventories] ADD  DEFAULT ((0)) FOR [isToBlockSystem]
GO
ALTER TABLE [dbo].[inventories] ADD  DEFAULT ((0)) FOR [erpMigrated]
GO
ALTER TABLE [dbo].[inventory_items] ADD  CONSTRAINT [DF__inventory__expec__571DF1D5]  DEFAULT ((0)) FOR [expectedQuantity]
GO
ALTER TABLE [dbo].[inventory_items] ADD  CONSTRAINT [DF__inventory__statu__5812160E]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[inventory_items] ADD  CONSTRAINT [DF__inventory__count__2739D489]  DEFAULT ((0)) FOR [count4_found]
GO
ALTER TABLE [dbo].[inventory_items] ADD  CONSTRAINT [DF__inventory__seria__03F0984C]  DEFAULT ((0)) FOR [serialItemsFound]
GO
ALTER TABLE [dbo].[inventory_items] ADD  CONSTRAINT [DF__inventory__seria__04E4BC85]  DEFAULT ((0)) FOR [serialItemsMissing]
GO
ALTER TABLE [dbo].[inventory_items] ADD  CONSTRAINT [DF__inventory__hasSe__05D8E0BE]  DEFAULT ((0)) FOR [hasSerialDiscrepancy]
GO
ALTER TABLE [dbo].[inventory_items] ADD  CONSTRAINT [DF__inventory__seria__06CD04F7]  DEFAULT ((0)) FOR [serialItemsCount]
GO
ALTER TABLE [dbo].[inventory_serial_discrepancies] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[inventory_serial_discrepancies] ADD  DEFAULT ((0)) FOR [migratedToERP]
GO
ALTER TABLE [dbo].[inventory_serial_discrepancies] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[inventory_serial_discrepancies] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[inventory_serial_items] ADD  CONSTRAINT [DF__inventory__expec__114A936A]  DEFAULT ((1)) FOR [expectedStatus]
GO
ALTER TABLE [dbo].[inventory_serial_items] ADD  CONSTRAINT [DF__inventory__statu__123EB7A3]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[inventory_serial_items] ADD  CONSTRAINT [DF__inventory__creat__1332DBDC]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[inventory_serial_items] ADD  CONSTRAINT [DF__inventory__updat__14270015]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[inventory_stock_items_snapshot] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[inventory_stock_snapshot] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[inventory_types] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__role__38996AB5]  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__isActive__398D8EEE]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [FK_audit_logs_users] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [FK_audit_logs_users]
GO
ALTER TABLE [dbo].[counts]  WITH CHECK ADD  CONSTRAINT [FK__counts__inventor__5DCAEF64] FOREIGN KEY([inventoryItemId])
REFERENCES [dbo].[inventory_items] ([id])
GO
ALTER TABLE [dbo].[counts] CHECK CONSTRAINT [FK__counts__inventor__5DCAEF64]
GO
ALTER TABLE [dbo].[counts]  WITH CHECK ADD  CONSTRAINT [FK_counts_users] FOREIGN KEY([countedBy])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[counts] CHECK CONSTRAINT [FK_counts_users]
GO
ALTER TABLE [dbo].[inventories]  WITH CHECK ADD  CONSTRAINT [FK__inventori__typeI__534D60F1] FOREIGN KEY([typeId])
REFERENCES [dbo].[inventory_types] ([id])
GO
ALTER TABLE [dbo].[inventories] CHECK CONSTRAINT [FK__inventori__typeI__534D60F1]
GO
ALTER TABLE [dbo].[inventories]  WITH CHECK ADD  CONSTRAINT [FK_inventories_users] FOREIGN KEY([frozenBy])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[inventories] CHECK CONSTRAINT [FK_inventories_users]
GO
ALTER TABLE [dbo].[inventories]  WITH CHECK ADD  CONSTRAINT [FK_inventories_users1] FOREIGN KEY([createdBy])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[inventories] CHECK CONSTRAINT [FK_inventories_users1]
GO
ALTER TABLE [dbo].[inventory_items]  WITH CHECK ADD  CONSTRAINT [FK__inventory__inven__59063A47] FOREIGN KEY([inventoryId])
REFERENCES [dbo].[inventories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inventory_items] CHECK CONSTRAINT [FK__inventory__inven__59063A47]
GO
ALTER TABLE [dbo].[inventory_items]  WITH CHECK ADD  CONSTRAINT [FK_inventory_items_users_count1] FOREIGN KEY([count1By])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[inventory_items] CHECK CONSTRAINT [FK_inventory_items_users_count1]
GO
ALTER TABLE [dbo].[inventory_items]  WITH CHECK ADD  CONSTRAINT [FK_inventory_items_users_count2] FOREIGN KEY([count2By])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[inventory_items] CHECK CONSTRAINT [FK_inventory_items_users_count2]
GO
ALTER TABLE [dbo].[inventory_items]  WITH CHECK ADD  CONSTRAINT [FK_inventory_items_users_count3] FOREIGN KEY([count3By])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[inventory_items] CHECK CONSTRAINT [FK_inventory_items_users_count3]
GO
ALTER TABLE [dbo].[inventory_items]  WITH CHECK ADD  CONSTRAINT [FK_inventory_items_users_count4] FOREIGN KEY([count4By])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[inventory_items] CHECK CONSTRAINT [FK_inventory_items_users_count4]
GO
ALTER TABLE [dbo].[inventory_serial_discrepancies]  WITH CHECK ADD FOREIGN KEY([inventoryId])
REFERENCES [dbo].[inventories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inventory_serial_items]  WITH CHECK ADD  CONSTRAINT [FK__inventory__inven__151B244E] FOREIGN KEY([inventoryId])
REFERENCES [dbo].[inventories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inventory_serial_items] CHECK CONSTRAINT [FK__inventory__inven__151B244E]
GO
ALTER TABLE [dbo].[inventory_serial_items]  WITH CHECK ADD  CONSTRAINT [FK_inventory_serial_items_users_count1] FOREIGN KEY([count1_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[inventory_serial_items] CHECK CONSTRAINT [FK_inventory_serial_items_users_count1]
GO
ALTER TABLE [dbo].[inventory_serial_items]  WITH CHECK ADD  CONSTRAINT [FK_inventory_serial_items_users_count2] FOREIGN KEY([count2_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[inventory_serial_items] CHECK CONSTRAINT [FK_inventory_serial_items_users_count2]
GO
ALTER TABLE [dbo].[inventory_serial_items]  WITH CHECK ADD  CONSTRAINT [FK_inventory_serial_items_users_count3] FOREIGN KEY([count3_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[inventory_serial_items] CHECK CONSTRAINT [FK_inventory_serial_items_users_count3]
GO
ALTER TABLE [dbo].[inventory_serial_items]  WITH CHECK ADD  CONSTRAINT [FK_inventory_serial_items_users_count4] FOREIGN KEY([count4_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[inventory_serial_items] CHECK CONSTRAINT [FK_inventory_serial_items_users_count4]
GO
ALTER TABLE [dbo].[inventory_stock_items_snapshot]  WITH CHECK ADD  CONSTRAINT [FK__inventory__inven__02084FDA] FOREIGN KEY([inventoryId])
REFERENCES [dbo].[inventories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inventory_stock_items_snapshot] CHECK CONSTRAINT [FK__inventory__inven__02084FDA]
GO
ALTER TABLE [dbo].[inventory_stock_snapshot]  WITH CHECK ADD  CONSTRAINT [FK__inventory__inven__7E37BEF6] FOREIGN KEY([inventoryId])
REFERENCES [dbo].[inventories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inventory_stock_snapshot] CHECK CONSTRAINT [FK__inventory__inven__7E37BEF6]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateInventorySerialItems]    Script Date: 13/10/2025 09:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateInventorySerialItems]
    @InventoryId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO inventory_serial_items (
        inventoryId, stockItemId, serialNumber, productId, locationId, expectedStatus
    )
    SELECT 
        @InventoryId,
        si.id,
        si.serialNumber,
        si.productId,
        si.locationId,
        1
    FROM stock_items si
    JOIN products p ON si.productId = p.id
    WHERE p.hasSerialControl = 1 
    AND si.isActive = 1;
    
    -- Atualizar contadores na inventory_items
    UPDATE ii
    SET serialItemsCount = (
        SELECT COUNT(*)
        FROM inventory_serial_items isi
        WHERE isi.inventoryId = ii.inventoryId
        AND isi.productId = ii.productId
        AND isi.locationId = ii.locationId
    )
    FROM inventory_items ii
    WHERE ii.inventoryId = @InventoryId;
END;

PRINT 'Procedure sp_CreateInventorySerialItems criada';
GO
/****** Object:  StoredProcedure [dbo].[sp_MarkDiscrepanciesAsMigrated]    Script Date: 13/10/2025 09:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MarkDiscrepanciesAsMigrated]
    @InventoryId INT,
    @UserId NVARCHAR(255),
    @ERPResponse NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE inventory_serial_discrepancies
    SET 
        migratedToERP = 1,
        migratedAt = GETDATE(),
        migratedBy = @UserId,
        erpResponse = @ERPResponse,
        status = 'MIGRATED_TO_ERP',
        updatedAt = GETDATE()
    WHERE inventoryId = @InventoryId
    AND migratedToERP = 0;
    
    SELECT @@ROWCOUNT as migratedCount;
END;

PRINT 'Procedure sp_MarkDiscrepanciesAsMigrated criada';
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessSerialDiscrepancies]    Script Date: 13/10/2025 09:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ProcessSerialDiscrepancies]
    @InventoryId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Limpar divergências existentes para este inventário
    DELETE FROM inventory_serial_discrepancies WHERE inventoryId = @InventoryId;
    
    -- 1. NÚMEROS DE SÉRIE ENCONTRADOS EM LOCAIS DIFERENTES DOS ESPERADOS
    INSERT INTO inventory_serial_discrepancies (
        inventoryId, serialNumber, productId, productSku, productName,
        expectedLocationId, expectedLocationCode, expectedLocationName,
        foundLocationId, foundLocationCode, foundLocationName,
        discrepancyType, foundBy, foundAt, countStage
    )
    SELECT 
        isi_found.inventoryId,
        isi_found.serialNumber,
        isi_found.productId,
        p.sku,
        p.name,
        -- Local esperado (onde deveria estar - baseado no inventory_serial_items com expectedStatus = 1)
        isi_expected.locationId,
        l_expected.code,
        l_expected.name,
        -- Local encontrado (onde foi encontrado)
        isi_found.locationId,
        l_found.code,
        l_found.name,
        'LOCATION_MISMATCH',
        CASE 
            WHEN isi_found.count1_found = 1 THEN isi_found.count1_by
            WHEN isi_found.count2_found = 1 THEN isi_found.count2_by
            WHEN isi_found.count3_found = 1 THEN isi_found.count3_by
            WHEN isi_found.count4_found = 1 THEN isi_found.count4_by
        END,
        CASE 
            WHEN isi_found.count1_found = 1 THEN isi_found.count1_at
            WHEN isi_found.count2_found = 1 THEN isi_found.count2_at
            WHEN isi_found.count3_found = 1 THEN isi_found.count3_at
            WHEN isi_found.count4_found = 1 THEN isi_found.count4_at
        END,
        CASE 
            WHEN isi_found.count1_found = 1 THEN 'count1'
            WHEN isi_found.count2_found = 1 THEN 'count2'
            WHEN isi_found.count3_found = 1 THEN 'count3'
            WHEN isi_found.count4_found = 1 THEN 'count4'
        END
    FROM inventory_serial_items isi_found
    JOIN products p ON isi_found.productId = p.id
    JOIN inventory_serial_items isi_expected ON isi_found.serialNumber = isi_expected.serialNumber 
        AND isi_found.inventoryId = isi_expected.inventoryId 
        AND isi_expected.expectedStatus = 1
    JOIN locations l_expected ON isi_expected.locationId = l_expected.id
    JOIN locations l_found ON isi_found.locationId = l_found.id
    WHERE isi_found.inventoryId = @InventoryId
    AND isi_found.finalStatus = 1
    AND isi_expected.locationId != isi_found.locationId; -- Encontrado em local diferente do esperado
    
    -- 2. NÚMEROS DE SÉRIE ESPERADOS QUE NÃO FORAM ENCONTRADOS
    INSERT INTO inventory_serial_discrepancies (
        inventoryId, serialNumber, productId, productSku, productName,
        expectedLocationId, expectedLocationCode, expectedLocationName,
        discrepancyType
    )
    SELECT 
        isi.inventoryId,
        isi.serialNumber,
        isi.productId,
        p.sku,
        p.name,
        isi.locationId, -- Local esperado baseado no inventory_serial_items
        l.code,
        l.name,
        'NOT_FOUND'
    FROM inventory_serial_items isi
    JOIN products p ON isi.productId = p.id
    JOIN locations l ON isi.locationId = l.id
    WHERE isi.inventoryId = @InventoryId
    AND isi.expectedStatus = 1 -- Deveria estar presente
    AND isi.finalStatus = 0; -- Não foi encontrado
    
    -- 3. NÚMEROS DE SÉRIE ENCONTRADOS QUE NÃO ERAM ESPERADOS
    INSERT INTO inventory_serial_discrepancies (
        inventoryId, serialNumber, productId, productSku, productName,
        foundLocationId, foundLocationCode, foundLocationName,
        discrepancyType, foundBy, foundAt, countStage
    )
    SELECT 
        isi.inventoryId,
        isi.serialNumber,
        isi.productId,
        p.sku,
        p.name,
        isi.locationId,
        l.code,
        l.name,
        'UNEXPECTED_FOUND',
        CASE 
            WHEN isi.count1_found = 1 THEN isi.count1_by
            WHEN isi.count2_found = 1 THEN isi.count2_by
            WHEN isi.count3_found = 1 THEN isi.count3_by
            WHEN isi.count4_found = 1 THEN isi.count4_by
        END,
        CASE 
            WHEN isi.count1_found = 1 THEN isi.count1_at
            WHEN isi.count2_found = 1 THEN isi.count2_at
            WHEN isi.count3_found = 1 THEN isi.count3_at
            WHEN isi.count4_found = 1 THEN isi.count4_at
        END,
        CASE 
            WHEN isi.count1_found = 1 THEN 'count1'
            WHEN isi.count2_found = 1 THEN 'count2'
            WHEN isi.count3_found = 1 THEN 'count3'
            WHEN isi.count4_found = 1 THEN 'count4'
        END
    FROM inventory_serial_items isi
    JOIN products p ON isi.productId = p.id
    JOIN locations l ON isi.locationId = l.id
    WHERE isi.inventoryId = @InventoryId
    AND isi.expectedStatus = 0 -- Não deveria estar presente
    AND isi.finalStatus = 1; -- Mas foi encontrado
    
    -- Retornar estatísticas
    SELECT 
        COUNT(*) as totalDiscrepancies,
        SUM(CASE WHEN discrepancyType = 'LOCATION_MISMATCH' THEN 1 ELSE 0 END) as locationMismatches,
        SUM(CASE WHEN discrepancyType = 'NOT_FOUND' THEN 1 ELSE 0 END) as notFound,
        SUM(CASE WHEN discrepancyType = 'UNEXPECTED_FOUND' THEN 1 ELSE 0 END) as unexpectedFound
    FROM inventory_serial_discrepancies
    WHERE inventoryId = @InventoryId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReconcileInventorySerial]    Script Date: 13/10/2025 09:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ReconcileInventorySerial]
    @InventoryId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Atualizar status final baseado nas contagens e expectedStatus
    UPDATE inventory_serial_items
    SET finalStatus = CASE 
        -- Se expectedStatus = 1 (deveria estar presente)
        WHEN expectedStatus = 1 THEN 
			CASE WHEN (count1_found = 1 AND count2_found = 1) --AND (ISNULL(count3_found, 1) = 1 OR ISNULL(count4_found, 1) = 1)
					THEN 1
				WHEN (count1_found = 1 OR count2_found = 1) AND (count3_found = 1 OR count4_found = 1)
					THEN 1
				WHEN count1_found IS NULL AND count2_found IS NULL AND (count3_found = 1 OR count4_found = 1)
					THEN 1 
				ELSE 0 END
        -- Se expectedStatus = 0 (não deveria estar presente)
        WHEN expectedStatus = 0 THEN 
            CASE WHEN count1_found = 1 OR count2_found = 1 OR count3_found = 1 OR count4_found = 1 
                 THEN 1 ELSE 0 END
        ELSE 0
    END,
    status = CASE 
        -- Atualizar status baseado no resultado final
        WHEN expectedStatus = 1 THEN 
            CASE WHEN count1_found = 1 OR count2_found = 1 OR count3_found = 1 OR count4_found = 1 
                 THEN 'FOUND' ELSE 'MISSING' END
        WHEN expectedStatus = 0 THEN 
            CASE WHEN count1_found = 1 OR count2_found = 1 OR count3_found = 1 OR count4_found = 1 
                 THEN 'EXTRA' ELSE 'PENDING' END
        ELSE 'PENDING'
    END
    WHERE inventoryId = @InventoryId;
    
    -- Atualizar discrepâncias na inventory_items
    UPDATE ii
    SET hasSerialDiscrepancy = CASE 
        WHEN p.hasSerialControl = 1 AND ii.finalQuantity != ii.serialItemsFound 
        THEN 1 ELSE 0 
    END
    FROM inventory_items ii
    JOIN products p ON ii.productId = p.id
    WHERE ii.inventoryId = @InventoryId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterSerialReading]    Script Date: 13/10/2025 09:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterSerialReading]
    @InventoryId INT,
    @SerialNumber NVARCHAR(255),
    @CountStage NVARCHAR(10),
    @UserId INT,
    @ScannedLocationId INT = NULL -- Nova localização onde o serial foi encontrado
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ProductId INT;
    DECLARE @OriginalLocationId INT;
    DECLARE @LocationId INT;
    DECLARE @RowsUpdated INT;
    DECLARE @ExistingRecordId INT;
    
    -- Verificar se série existe no inventário
    SELECT @ExistingRecordId = id, @ProductId = productId, @OriginalLocationId = locationId
    FROM inventory_serial_items 
    WHERE inventoryId = @InventoryId 
    AND serialNumber = @SerialNumber;
    
    -- Determinar a localização a ser usada
    SET @LocationId = ISNULL(@ScannedLocationId, @OriginalLocationId);
    
    IF @ProductId IS NULL
    BEGIN
        -- Série não encontrada no inventário esperado
        -- Verificar se existe em stock_items
        SELECT @ProductId = si.productId, @LocationId = ISNULL(@ScannedLocationId, si.locationId)
        FROM stock_items si
        JOIN products p ON si.productId = p.id
        WHERE si.serialNumber = @SerialNumber
        AND p.hasSerialControl = 1
        AND si.isActive = 1;
        
        IF @ProductId IS NOT NULL
        BEGIN
            -- Série existe mas não estava no inventário - adicionar como EXTRA
            INSERT INTO inventory_serial_items (
                inventoryId, stockItemId, serialNumber, productId, locationId, 
                expectedStatus, status, createdAt, updatedAt
            )
            SELECT 
                @InventoryId, si.id, @SerialNumber, @ProductId, @LocationId,
                0, 'EXTRA', GETDATE(), GETDATE()
            FROM stock_items si
            WHERE si.serialNumber = @SerialNumber
            AND si.productId = @ProductId;
            
            SET @ExistingRecordId = SCOPE_IDENTITY();
        END
        ELSE
        BEGIN
            -- Série não encontrada no sistema
            RAISERROR('Número de série não encontrado no sistema', 16, 1);
            RETURN;
        END;
    END
    ELSE
    BEGIN
        -- Série existe no inventário
        -- Verificar se há divergência de localização
        IF @ScannedLocationId IS NOT NULL AND @ScannedLocationId != @OriginalLocationId
        BEGIN
            -- Localização diferente - criar novo registro para a nova localização
            INSERT INTO inventory_serial_items (
                inventoryId, stockItemId, serialNumber, productId, locationId, 
                expectedStatus, status, createdAt, updatedAt
            )
            SELECT 
                @InventoryId, si.id, @SerialNumber, @ProductId, @ScannedLocationId,
                0, 'EXTRA', GETDATE(), GETDATE()
            FROM stock_items si
            WHERE si.serialNumber = @SerialNumber
            AND si.productId = @ProductId;
            
            SET @ExistingRecordId = SCOPE_IDENTITY();
            SET @LocationId = @ScannedLocationId;
        END
        -- Se não há divergência, usar o registro existente
    END;
    
    -- Atualizar inventory_serial_items com informações da contagem
    UPDATE inventory_serial_items 
    SET 
        count1_found = CASE WHEN @CountStage = 'count1' THEN 1 ELSE count1_found END,
        count2_found = CASE WHEN @CountStage = 'count2' THEN 1 ELSE count2_found END,
        count3_found = CASE WHEN @CountStage = 'count3' THEN 1 ELSE count3_found END,
        count4_found = CASE WHEN @CountStage = 'count4' THEN 1 ELSE count4_found END,
        count1_by = CASE WHEN @CountStage = 'count1' THEN @UserId ELSE count1_by END,
        count2_by = CASE WHEN @CountStage = 'count2' THEN @UserId ELSE count2_by END,
        count3_by = CASE WHEN @CountStage = 'count3' THEN @UserId ELSE count3_by END,
        count4_by = CASE WHEN @CountStage = 'count4' THEN @UserId ELSE count4_by END,
        count1_at = CASE WHEN @CountStage = 'count1' THEN GETDATE() ELSE count1_at END,
        count2_at = CASE WHEN @CountStage = 'count2' THEN GETDATE() ELSE count2_at END,
        count3_at = CASE WHEN @CountStage = 'count3' THEN GETDATE() ELSE count3_at END,
        count4_at = CASE WHEN @CountStage = 'count4' THEN GETDATE() ELSE count4_at END,
        status = 'FOUND',
        updatedAt = GETDATE()
    WHERE id = @ExistingRecordId;

    SET @RowsUpdated = @@ROWCOUNT;
    
    IF @RowsUpdated = 0
    BEGIN
        RAISERROR('Número de série não encontrado ou não foi possível atualizar', 16, 1);
        RETURN;
    END;
    
    -- CRITICAL: Verificar se existe registro na inventory_items para o produto no local encontrado
    -- Se não existir, criar um novo registro
    DECLARE @InventoryItemId INT;
    
    SELECT @InventoryItemId = id 
    FROM inventory_items 
    WHERE inventoryId = @InventoryId 
    AND productId = @ProductId 
    AND locationId = @LocationId;
    
    IF @InventoryItemId IS NULL
    BEGIN
        -- Criar novo registro na inventory_items para o produto no local onde foi encontrado
        INSERT INTO inventory_items (
            inventoryId, productId, locationId, expectedQuantity, 
            status, createdAt, updatedAt
        )
        VALUES (
            @InventoryId, @ProductId, @LocationId, 0,
            'PENDING', GETDATE(), GETDATE()
        );
        
        SET @InventoryItemId = SCOPE_IDENTITY();
    END;
    
    -- Incrementar contagem na tabela inventory_items
    DECLARE @CountColumn NVARCHAR(50);
    DECLARE @CountByColumn NVARCHAR(50);
    DECLARE @CountAtColumn NVARCHAR(50);
    
    SET @CountColumn = @CountStage; -- count1, count2, count3, count4
    SET @CountByColumn = @CountStage + 'By'; -- count1By, count2By, etc.
    SET @CountAtColumn = @CountStage + 'At'; -- count1At, count2At, etc.
    
    -- Usar SQL dinâmico para atualizar a coluna correta
    DECLARE @SQL NVARCHAR(MAX);
    SET @SQL = N'
        UPDATE inventory_items 
        SET 
            ' + @CountColumn + ' = ISNULL(' + @CountColumn + ', 0) + 1,
            ' + @CountByColumn + ' = NULL,
            ' + @CountAtColumn + ' = GETDATE(),
            updatedAt = GETDATE()
        WHERE id = @InventoryItemId';
    
    EXEC sp_executesql @SQL, 
        N'@InventoryItemId INT', 
        @InventoryItemId;
    
    -- Retornar resultado
    SELECT 
        1 as success,
        'Leitura registrada com sucesso' as message,
        @SerialNumber as serialNumber,
        @ProductId as productId,
        @LocationId as locationId;
END;
GO
