CREATE OR ALTER PROCEDURE [dbo].[sp_RegisterSerialReading]
    @InventoryId INT,
    @SerialNumber NVARCHAR(255),
    @CountStage NVARCHAR(10),
    @UserId int
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ProductId INT;
    DECLARE @LocationId INT;
    DECLARE @RowsUpdated INT;
    
    -- Verificar se série existe no inventário
    SELECT @ProductId = productId, @LocationId = locationId
    FROM inventory_serial_items 
    WHERE inventoryId = @InventoryId 
    AND serialNumber = @SerialNumber;
    
    IF @ProductId IS NULL
    BEGIN
        -- Série não encontrada no inventário esperado
        -- Verificar se existe em stock_items
        SELECT @ProductId = si.productId, @LocationId = si.locationId
        FROM stock_items si
        JOIN products p ON si.productId = p.id
        WHERE si.serialNumber = @SerialNumber
        AND p.hasSerialControl = 1
        AND si.isActive = 1;
        
        IF @ProductId IS NOT NULL
        BEGIN
            -- Série existe mas não estava no inventário - adicionar como EXTRA
            INSERT INTO inventory_serial_items (
                inventoryId, stockItemId, serialNumber, productId, locationId, 
                expectedStatus, status, createdAt, updatedAt
            )
            SELECT 
                @InventoryId, si.id, @SerialNumber, @ProductId, @LocationId,
                0, 'EXTRA', GETDATE(), GETDATE()
            FROM stock_items si
            WHERE si.serialNumber = @SerialNumber;
        END
        ELSE
        BEGIN
            -- Série não existe no sistema - retornar erro
            RAISERROR('Número de série não encontrado no sistema', 16, 1);
            RETURN;
        END
    END
    
    -- Registrar leitura
    UPDATE inventory_serial_items 
    SET 
        count1_found = CASE WHEN @CountStage = 'count1' THEN 1 ELSE count1_found END,
        count2_found = CASE WHEN @CountStage = 'count2' THEN 1 ELSE count2_found END,
        count3_found = CASE WHEN @CountStage = 'count3' THEN 1 ELSE count3_found END,
        count4_found = CASE WHEN @CountStage = 'count4' THEN 1 ELSE count4_found END,
        count1_by = CASE WHEN @CountStage = 'count1' THEN @UserId ELSE count1_by END,
        count2_by = CASE WHEN @CountStage = 'count2' THEN @UserId ELSE count2_by END,
        count3_by = CASE WHEN @CountStage = 'count3' THEN @UserId ELSE count3_by END,
        count4_by = CASE WHEN @CountStage = 'count4' THEN @UserId ELSE count4_by END,
        count1_at = CASE WHEN @CountStage = 'count1' THEN GETDATE() ELSE count1_at END,
        count2_at = CASE WHEN @CountStage = 'count2' THEN GETDATE() ELSE count2_at END,
        count3_at = CASE WHEN @CountStage = 'count3' THEN GETDATE() ELSE count3_at END,
        count4_at = CASE WHEN @CountStage = 'count4' THEN GETDATE() ELSE count4_at END,
        status = CASE WHEN status = 'PENDING' THEN 'FOUND' ELSE status END,
        updatedAt = GETDATE()
    WHERE inventoryId = @InventoryId 
    AND serialNumber = @SerialNumber;
    
    SET @RowsUpdated = @@ROWCOUNT;
    
    -- Atualizar contadores na inventory_items
    UPDATE ii
    SET 
        serialItemsFound = (
            SELECT COUNT(*)
            FROM inventory_serial_items isi
            WHERE isi.inventoryId = ii.inventoryId
            AND isi.productId = ii.productId
            AND isi.locationId = ii.locationId
            AND isi.status = 'FOUND'
        ),
        serialItemsMissing = (
            SELECT COUNT(*)
            FROM inventory_serial_items isi
            WHERE isi.inventoryId = ii.inventoryId
            AND isi.productId = ii.productId
            AND isi.locationId = ii.locationId
            AND isi.status = 'PENDING'
        )
    FROM inventory_items ii
    WHERE ii.inventoryId = @InventoryId
    AND ii.productId = @ProductId
    AND ii.locationId = @LocationId;
    
    -- Retornar informações da leitura
    SELECT 
        @RowsUpdated as rowsUpdated,
        @ProductId as productId,
        @LocationId as locationId,
        p.name as productName,
        p.sku as productSku
    FROM products p
    WHERE p.id = @ProductId;
END;

PRINT 'Procedure sp_RegisterSerialReading criada';
